<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Universal Clipboard</title>
    <link rel="shortcut icon" href="static/icon-512.png" />
    <link rel="manifest" href="manifest.json" crossorigin="use-credentials"/>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="U-Clipboard" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-touch-icon" content="static/icon-512.png" />

    <meta name="application-name" content="U-Clipboard">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=0.5"> -->

    <meta name="theme-color" content="#000000" />

    <link rel="apple-touch-icon" href="static/Icon-192.png" />

    <style>
        * {
            font-family: 'Segoe UI', Arial, sans-serif;
        }

        .def-el {
            border: solid 3px;
            height: 150px;
            border-radius: 12px;
            text-align: center;
        }

        .btn-pr {
            border: solid 3px cadetblue;
            color: cadetblue;
            width: 100%;
            height: 100px;
            border-radius: 12px;
            margin-top: 10px;
            text-align: center;
            background: transparent;
            font-size: 300%;
            font-weight: 400;
        }

        .btn-pr:hover {
            box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
        }

        #new-text::selection {
            background: transparent;
        }
    </style>
    <script charset="utf-8" type="text/javascript" defer>
        let clipboard = ''
        let serveraddr = localStorage.getItem('serveraddr') ?? document.domain + ':' + location.port
        let request = null


        let disconnectInterval = null
        let socket = null

        function copyText(text) {
            document.getElementById('new-text').value = text
            document.getElementById('new-text').select()
            document.execCommand('copy')
        }

        function updateClipboard() {
            fetch('/update')
                .then((e) => {
                    return e.json()
                })
                .then((e) => {
                    copyText(e.clipboard)
                })
        }


        document.addEventListener('visibilitychange', (e) => {
            if (!document.hidden) {
                updateClipboard()
            }
        })
        function connectSocket() {
            let protocol = window.location.protocol === 'https' ? 'wss' : 'ws'
            socket = new WebSocket(protocol + '://' + serveraddr)
            socket.onmessage = function (message) {
                const data = JSON.parse(message.data)
            }

            socket.onopen = function () {
                document.getElementById('stat').innerText = 'Connected'
                document.getElementById('stat').style.color = 'green'
                // updateClipboard()
                disconnectInterval && clearInterval(disconnectInterval)
            }

            socket.onclose = function () {
                document.getElementById('stat').innerText = 'Disconnected'
                document.getElementById('stat').style.color = 'red'
                disconnectInterval = setInterval(() => {
                    connectSocket()
                }, 1000);
            }
        }

        document.addEventListener('DOMContentLoaded', function (event) {
            serverAddrBtn = document.getElementById('serveraddr-btn')
            serverAddrBtn.innerText = 'server: ' + serveraddr
            serverAddrBtn.onclick = function () {
                serveraddr = prompt('Server address', serveraddr)
                if (serveraddr === null || serveraddr === undefined) {
                    return
                }
                localStorage.setItem('serveraddr', serveraddr)
                serverAddrBtn.innerText = 'server: ' + serveraddr
            }


            connectSocket()

            if (window.isSecureContext) {
                document.getElementById('txtf').onclick = function (event) {
                    navigator.clipboard.readText().then((text) => {
                        document.getElementById('txtf').value = ''
                        socket.send(
                            JSON.stringify({
                                function: 'text-copy',
                                payload: {
                                    container: text
                                }
                            })
                        )
                    })
                }
            }

            document.getElementById('txtf').addEventListener('paste', (event) => {
                event.preventDefault()
                let paste = event.clipboardData.getData('text')
                console.log(paste)
                event.target.value = ''
                socket.send(
                    JSON.stringify({
                        function: 'text-copy',
                        payload: {
                            container: paste
                        }
                    })
                )
            })

            document.getElementById('paste').onclick = function (e) {
                updateClipboard()
            }


            const dropContainer = document.getElementById('dropContainer')
            const fileInput = document.getElementById('fileInput')

            dropContainer.ondragover = dropContainer.ondragenter = function (evt) {
                evt.preventDefault()
            }

            dropContainer.ondrop = function (evt) {
                fileInput.files = evt.dataTransfer.files
                evt.preventDefault()
                onFilePicked(evt)
            }
        })

        function onFilePicked(evt) {
            try {
                const file = fileInput.files[0]
                document.getElementById('progress-bar').innerText = ''
                const API_ENDPOINT = '/file-upload'
                request = new XMLHttpRequest()
                const formData = new FormData()

                request.open('POST', API_ENDPOINT, true)
                request.onreadystatechange = () => {
                    console.log(request.responseText)
                }
                request.onprogress = (evt) => {
                    console.log(evt)
                    if (evt.lengthComputable) {
                        var complete = ((evt.loaded / evt.total) * 100)
                        document.getElementById('progress-bar').innerText = complete + '%'
                    }
                }

                formData.append('file', file)
                request.send(formData)
            } catch (err) {
                alert(err.message)
            }
        }

        function dropContainerClick(evt) {
            fileInput.click()
        }


    </script>
</head>

<body>
    <div>
        <p style="text-align: center; font-weight: bold; font-size: 300%; color: red" id="stat">Disconnected</p>
    </div>

    <div style="display: flex; padding: 16px; flex-direction: column;">
        <div style="display: flex;">
            <div class="def-el" id="dropContainer"
                style="width: 150px; height: inherit; display: flex; align-items: center; justify-content: center; font-size: 125%;"
                onclick="dropContainerClick()">
                Drop file here <br /> -OR- <br /> Click to upload
            </div>
            <div style="display: flex; flex-grow: 1; margin-left: 8px">
                <label for="txtf"></label>
                <input class="def-el" style="font-size: 300%; flex-grow: 1;" type="text" id="txtf"
                    placeholder="Paste text here..." />
            </div>
        </div>

        <button class="btn-pr" id="paste">Paste from server</button>
        <form action="/download" method="POST" target="_blank">
            <input type="submit" class="btn-pr" id="download" value="Download from server" name="action">
        </form>
        <input type="file" id="fileInput" hidden onchange="onFilePicked()" name="file" />
        <textarea style="margin-top:30px; font-size: 150%" disabled type="text" id="new-text" rows="10"></textarea>
        <span id="progress-bar"></span>
    </div>

    <br />
    <br />
    <button id="serveraddr-btn">server:</button>
    ver 1.0
    <script>
        if ('serviceWorker' in navigator) navigator.serviceWorker.register('service-worker.js')
    </script>
</body>

</html>